@use "sass:math";

//=========================================Технічне підключення==========================================================//
// файл обнуленя
@import "base/_reset.scss";

// файл міксінів
@import "base/_mixins.scss";

// файл бем блоків
@import "_common.scss";

// файл кольорів
@import "base/_colors-bank.scss"; 

//=======================================Настройка бази============================================================//
@import url("https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap");
// керування body

body{
  @include forBody($fbmax-width:rem(1440), $fbfont-size: rem(16));
  color: var(--text-primary);
  background-color: var(--bg-primary);
  font-weight: 500;
  font-family: "Inter";
}

// Керування контейнером
[class*="__container"] {
  @include forContainer($fcmax-width: rem(800), $fcmargin: 0 auto, $fcpadding: rem(0) rem(15));
}

//==========================================Підключення Хедера=========================================================//
@import "_header.scss";


//==========================================Підключення Хедера=========================================================//
@import "_main.scss";

//==========================================Підключення Хедера=========================================================//
@import "_footer.scss";
