*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}
/*=============================================================*/

.main{
  max-width: 100%;
  padding-top: 150px;
  background-color: darkgrey;
}
.numberDZ{
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 50px;
  font-size: 30px;
}
.linkZavdannja{
      max-width: 700px;
      margin: 0 auto;
      padding-bottom: 40px;
}
.linkZavdannja a{
  font-size: 25px;
  transition: 0.5s color;
}
.linkZavdannja a:hover{
  color: rgb(175, 107, 107);
  transition: 0.5s color;
}
.txt{
    max-width: 700px;
  margin: 0 auto;
}
.link{

  font-size: 25px;
  transition: 0.5s color;
}
.link:hover{
  color: rgb(175, 107, 107);
  transition: 0.5s color;
}
.nameLesson{
  padding-top: 40px;
  font-size: 18px;
  font-style: italic;
}
.calc{
  max-width: 700px;
  margin: 0 auto;
  padding-top: 100px;
}
.enterField{
  background-color: darkgrey;
  border: 2px black solid;
  margin-bottom: 15px;
}
.mlFirst{
  margin-right: 18px;
}
.mrResult{
  margin-right: 16px;
}
.calc_button{
  margin-bottom: 15px;
}
.calc_button button{
  border: 2px black solid;
  padding: 5px 5px;
  
}

/*========================== Бокс з вирішенням дз=====================================*/

/* .boxDecisionDz{
  max-width: 700px;
  margin: 0 auto;
  padding-top: 150px;
} */


